<div class="mt-4">

        <h3>dang khoa hoc</h3>

         <form method="POST" action="../courses/store">
            <div class="form-group">
                <label for="name">name address</label>
                <input type="text" class="form-control" id="name" " name="name">

                  </div>
                <div class="form-group">
                <label for="img">id address</label>
                <input type="text" class="form-control" id="img" " name="img">
               
            </div>
           
               
            </div>
               <div class="form-group">
                <label for="description">where address</label>
                <input type="text" class="form-control" id="description" " name="description">
               
            </div>
           
              <div class="form-group">
                <label for="videoId">video id</label>
                <input type="text" class="form-control" id="videoId" " name="videoId">
               
          
           
           
            
           
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>

</div>