

<div class="row">
        <div class="col-3">
            <h3>hellu</h3>
        </div>

        <div class="col-9">
           <h1>nodejs on youtube fuck </h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h2>{{course.name}}</h2>
            <h1>{{course.videoId}}</h1>


        </div>

</div>