<ul>
    <li><a href="/site">Home</a></li>
    <li><a href="/yell">Yell</a></li>
    <li><a href="/exclaim">Exclaim</a></li>
    <li><a href="/echo/Hello">Echo: Hello</a></li>
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <img src="https://yt3.ggpht.com/yti/AJo0G0kPt0AACsp3WEYV4Y1BNsXr1vLbHrrz1hsY1mBt=s88-c-k-c0x00ffffff-no-rj-mo" alt="">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="/me/stored/courses">Something else here</a>
  </div>
</div>
</ul>